S3method(plot, survHE)
S3method(print, survHE)
S3method(summary, survHE)
export(digitise)
export(fit.models)
export(make.ipd)
export(make.surv)
export(model.fit.plot)
export(make.transition.probs)
export(plot.survHE)
export(poly.weibull)
export(print.survHE)
export(psa.plot)
export(summary.survHE)
export(test.linear.assumptions)
export(write.surv)
import(Rcpp)
import(flexsurv)
import(methods)
importFrom(graphics, axis, barplot, hist, legend, par, plot, points, polygon, text, title)
importFrom(utils, read.table,write.table,head,tail)
importFrom(stats, terms,as.formula,model.frame,model.matrix,dexp,pexp,dweibull,pweibull,dgamma,pgamma,median,var)
importFrom(stats, dlnorm,plnorm,dlogis,plogis,sd,quantile,qnorm)
importFrom(grDevices, colors,adjustcolor)
importFrom(tools, file_ext)
importFrom(rms, npsurv,survplot)
importFrom(rstan, sampling)
importFrom(tibble, rownames_to_column)
useDynLib(survHE, .registration = TRUE)
