exportPattern("^[[:alpha:]]+")
useDynLib(survHE, .registration = TRUE)
S3method(plot, survHE)
S3method(print, survHE)
import(Rcpp)
import(flexsurv)
import(methods)
importFrom(graphics, axis, barplot, hist, legend, par, plot, points, polygon, text, title)
importFrom(utils, read.table,write.table)
importFrom(stats, terms,as.formula,model.frame,model.matrix,dexp,pexp,dweibull,pweibull,dgamma,pgamma)
importFrom(stats, dlnorm,plnorm,dlogis,plogis,sd,quantile,qnorm)
importFrom(grDevices, colors,adjustcolor)
importFrom(data.table, data.table)
importFrom(tools, file_ext)
importFrom(rms, npsurv,survplot)
